h1,h2 {
    text-align: center;
}
  p{color: #FFFFFF;}
#chart {
    width: 100%;
    height: 500px; 
}
  
.container-all {
    display:flex;
    height: 85vh;
}
  
.left-container {
    display:block;
    flex: 8;
    background-color: #07849d;
    padding: 5px;
}
.title-box{
    display:block;
    background-color: #07849d;
    padding: 5px
}
.box{
    display:flex;
    background-color: #07849d;
    padding: 5px
}
.left{
    background-color: #ffffff;
    padding: 20px
}
.right{
    background-color: #07849d;
    padding: 5px;
}
  
.right-container {
    display:block;
    overflow-y: scroll; 
    flex: 2;
    background-color: #07849d;
    padding: 10px;
    border-left: 1px solid #000000;
}


  
  /* Áp dụng hiệu ứng xoay lật cho phần tử có class "flipped" */
  .entity-section.flipped {
    transform: rotateY(180deg);
    opacity: 0;
    order: 2;
  }
  
  .entity-section.flipped.checked {
    transform: rotateY(0deg);
    opacity: 1;
    order: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .selection {
    order: 1;
  }
  
  .selection .flipped {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

/* Tùy chỉnh giao diện của checkbox */
.custom {

  display: inline;
  vertical-align: middle;
  position: relative;
}


input[type="checkbox"]:checked + .custom::before {
  opacity: 1;
}

/* Tùy chỉnh giao diện của nhãn */
.label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: bold;
}

