

body{
    background-color: #07849D;
}
/*menu-------------------------------------*/
.menu{
	margin-left: 99px;
	margin-top: 8px;
	display: flex;
	/* justify-content: center; */
}
.logo{
	margin-right: 100px;
}
.logo img{
	width: 100px ;
	height:90px ;
}
.menu-mini{
	margin-top: 18px;
}
.icon{
	margin-top: 18px;
}
.menu-mini ul{
	display: flex;
	padding: 0px;
}
.menu-mini ul li:hover>a{
	color: #7fad39;
}
.menu .menu-mini ul li{
	list-style: none;
	padding: 0px;

}
.menu .menu-mini ul li a{
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	font-family: Myriad Pro;
	font-weight: bold;
	font-size: 15px;
	margin-right: 61px;
}

.line-effect{
	width: 50px;
	height: 2px;
	background-color: green;
	position: fixed;
	pointer-events: none;
	transition: all 0.s linear;
}
/*content------------------------------*/
.content{
	display: flex;
}
.content .board img{
	width: 800px;
	height: 350px;
}
h3, .para{
	font-family: Myriad Pro;
	color: #FFF;
/*	font-size: 17px;*/
}
.wrap .contain{
	width: 700px;
	margin-left: 90px;
	margin-top: 30px;
}
.para{
	line-height: 25px;
}
.button img{
	width: 50px ;
	height:50px ;
	cursor: pointer;
}
.button{
	margin-top: 20px;
	margin-left: 650px;
}

