body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #07849d;
}
/*****************************************/
/*****************************************/
.menu{
  margin-left: 99px;
  margin-top: 8px;
  display: flex;
  /* justify-content: center; */
}
  .logo{
    margin-right: 100px;
  }
  .logo img{
    width: 100px ;
    height:90px ;
  }
  .menu-mini{
    margin-top: 18px;
  }
  .icon{
    margin-top: 18px;
  }
  .menu-mini ul{
    display: flex;
    padding: 0px;
  }
  .menu-mini ul li:hover>a{
    color: #7fad39;
  }
  .menu .menu-mini ul li{
    list-style: none;
    padding: 0px;
  
  }
  .menu .menu-mini ul li a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: Myriad Pro;
    font-weight: bold;
    font-size: 15px;
    margin-right: 61px;
  }
  
  .line-effect{
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    pointer-events: none;
    transition: all 0.s linear;
  }
  /*content------------------------*/
  
    h3{
      margin-left: 100px;
      font-family: Myriad Pro;
      color: #FFF;
      margin-top: 30px;
      margin-bottom: -15px ;
    }
    
    
.wrap a{
  color: #FFF;
}
    
  fieldset{width: 500px;
        height: 300px;
        margin: 30px auto;
        background-color: #333333}
          
  .content fieldset a{
    color: #fff;
    text-decoration:none ;
  }
  .content fieldset legend{
    color: #fff;
  }
  .container{
    display: flex;
  }
  legend div{
    background-color: #71CFF4;
    width:188px;
    height: 22px;
    padding: 4px;
    border-radius: 4px;
  }
  marquee{
    background-color: #333333;
    color: #fff;
  }
/*****************************************/
/*****************************************/
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }

  #chart {
    width: 100%;
    height: 500px;
  }
  
  .container {
    display: flex;
    height: 75vh;
  }
  
  .left-panel {
    flex: 4;
    background-color: #f5f5f5;
    padding: 50px;
  }
  
  .right-container {
    border-collapse: collapse;
    display:block;
    /*overflow-y: scroll; */
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #000000;
  }
  .right-container-top{
    border-collapse: collapse;
    border-bottom: 1px solid #000000;
    display:block;
  }
  .right-container-middle{
    border-collapse: collapse;
    max-height: 625px;
    overflow-y: auto;
    display:block;
    border-bottom: 1px solid #5a4646;
  }
  .right-container-bottom{
    text-align: center;
    border-collapse: collapse;
    padding: 15px;
    display:block;
  }
  
  h1, h2, h3 {
    color: #000000;
  }
  
  
  .selection-container, .countries-container {
    margin-bottom: 40px;
  }
  
  .selection-container ul, .countries-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .selection-container li, .countries-container li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .selection-container li input[type="checkbox"], .countries-container li input[type="checkbox"] {
    margin-right: 10px;
  }
  .marker-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    z-index: 10;
  }
 





/* Tùy chỉnh giao diện của nhãn */
.label {
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: bold;
}

 

