body{
    background-color: #07849D;
    color: white;
    font-family: Arial, sans-serif;
}
/*menu-------------------------------------*/
.menu{
	margin-left: 99px;
	margin-top: 8px;
	display: flex;
	/* justify-content: center; */
}
.logo{
	margin-right: 100px;
}
.logo img{
	width: 100px ;
	height:90px ;
}
.menu-mini{
	margin-top: 18px;
}
.icon{
	margin-top: 18px;
}
.menu-mini ul{
	display: flex;
	padding: 0px;
}
.menu-mini ul li:hover>a{
	color: #7fad39;
}
.menu .menu-mini ul li{
	list-style: none;
	padding: 0px;

}
.menu .menu-mini ul li a{
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	font-family: Myriad Pro;
	font-weight: bold;
	font-size: 15px;
	margin-right: 61px;
}

.line-effect{
	width: 50px;
	height: 2px;
	background-color: green;
	position: fixed;
	pointer-events: none;
	transition: all 0.s linear;
}
/*content------------------------*/

.label {
    font: 14px sans-serif;
    fill: white;
}

.axis-label {
    font: 14px sans-serif;
    fill: white;
}

.controls {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.checkbox-container {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    color: black;
}

.checkbox-container label {
    display: block;
}
